<!DOCTYPE html>

<html lang="en" ng-app="namePicker" class="no-js">
<head>
  <meta charset="utf-8">
  <title>Variable Namer</title>
  <meta name="description" content="Find a name for things">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

  <div ng-controller="mainCtrl">

    <div id="sentence-container">
      <div ng-repeat="sentence in sentences">
        {{ sentence | replaceWords:this.selectedVariants }}
      </div>
    </div>

    <div id="word-container">

      <div ng-repeat="(key, wordVariants) in words">
        {{ key + 1 }}:
        <select name="mySelect" id="mySelect" ng-options="wordVariant for wordVariant in wordVariants" ng-model="selectedVariants[key]"/>
        <input type="text" placeholder="Add a variant..." ng-model="newVariants[key]" ng-enter="addVariant(key)"/>
      </div>
    </div>

    <input type="text" placeholder="Add a sentence.." ng-model="newSentence" ng-enter="addSentence()"/>
    <br/>
    <input type="text" placeholder="Add a word.." ng-model="newWord" ng-enter="addWord()"/>

  </div>

  <div class="explanation">
    Add words for each thing you're seaching for a name for.<br/>
    Add sentences, but replacing the word with "&lt;1&gt;", where "1" is the first word.<br/>
    Add variants for the words you defined.
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</body>
</html>
